body {
    margin: 0;
    background-color: aquamarine;
}

div.container {
    background-color: grey;
    height: 200px;
    font-size: 30px;
    color: red;
    border: 3px solid black;
}

.container strong {
    color: blue;
    font-size: 40px;
    border: 3px solid black;
}
