@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: "idroid";
    src: url("pacote-projeto-d010/fontes/idroid.otf") format("opentype");
    font-weight: normal;
}


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;
    --fonte-android: "idroid", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    margin: 0px;
}

a.external::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4), var(--cor5));
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}

header h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.432);
    
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin: auto;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.308);
    
   
}

nav {
    background-color: var(--cor1);
    padding: 10px;
    font-family: var(--fonte-padrao);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.354);


}

nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav a:hover{
    background-color: var(--cor0);
    color: var(--cor4);
   
}

main {
    min-width: 220px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;   
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

main img {
    width: 100%;
    border-radius: 8px;
}

main img.pequena {
    max-width: 350px;
    /* Imagem por padrao nao é um bloco, por isso do display: block; para ela centralizar com o margin: auto; */
    display: block;
    margin: auto;
}

/* main iframe {
    width: 100%;
    display: block;
    margin: auto;
} */

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.5%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
    text-align: center;
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding-top: 1px;
    /* text-indent espaçamento inicial na linha horizontal */
    text-indent: 8px;
    border-radius: 2px;
    font-weight: normal;
}

/* nao coloca main > p pois dessa forma se existir outro p dentro de qualquer tag dentro do main ele ira realizar a alteração/ o sinal de > é pra quando for o filho dentro da tag */
main p {
    margin: 15px 0px;
    /* alinhamento dos parágrafos dentro do main */
    text-align: justify;
    /* recuo no começo de todo parágrafo */
    text-indent: 30px;
    /* altura entre as linhas */
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: var(--cor3);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 2px 4px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

aside > h3 {
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    /* margin negativa para crescer pra fora e juntar o bloco */
    margin: -10px -10px 0px -10px;    
    border-radius: 10px 10px 0px 0px;
    font-family: var(--fonte-padrao);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.263);
}

aside > ul {
    /* Tipo do estilo da lista \código (\00A0 = espaço) */
    list-style-type: '\2705\00A0';
    /* coloca a lista dentro do background de aside */
    list-style-position: inside;
    columns: 2;

}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}





/* header {
    background-image: linear-gradient(to bottom, #4d896703, #2d533d);
    text-align: center;
    color: white;
}



nav {
    text-align: left;
    padding: 10px;
    
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    margin: 5px;
    color: white;

}

a:hover {
    background-color: #84e1aca5;
    color: #2d533d;
    border-radius: 3px;
    
}

main {
    background-color: white;
    font-family: "idroid", Times, serif;
    margin: auto 100px;
    padding: 15px;
    color: #2d533d;
}

main > h1 {
    margin-block-start: 0px;
}

main > p {
    font-family: Arial, Helvetica, sans-serif;
} */